In [12]:
import pandas as pd
data = pd.read_csv('../OriginalData/tb.csv')
data

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [21]:
data_without_null = data.dropna(axis=0,how='all', thresh=21)
data_without_null
data_without_null.fillna(0)

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
15,AD,2005,5.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
16,AD,2006,8.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
18,AD,2008,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
42,AE,2006,52.0,0.0,0.0,0.0,5.0,3.0,7.0,3.0,...,0.0,2.0,2.0,6.0,4.0,5.0,3.0,4.0,5.0,0.0
43,AE,2007,56.0,0.0,2.0,2.0,5.0,6.0,3.0,4.0,...,0.0,1.0,1.0,8.0,6.0,3.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5637,WS,2008,6.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
5710,ZA,2006,131099.0,655.0,1407.0,2062.0,10498.0,21273.0,19743.0,11752.0,...,620.0,1959.0,2579.0,14073.0,20387.0,12656.0,5767.0,2550.0,1505.0,0.0
5711,ZA,2007,135604.0,340.0,594.0,1909.0,10514.0,21948.0,20076.0,12164.0,...,293.0,894.0,2511.0,14410.0,21049.0,13190.0,6245.0,2964.0,1811.0,0.0
5712,ZA,2008,138803.0,344.0,1519.0,1863.0,10172.0,21706.0,20699.0,12724.0,...,298.0,2062.0,2360.0,14010.0,21579.0,13778.0,7146.0,3234.0,2117.0,0.0
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,0.0

In [30]:
df = data_without_null.fillna(0)
#df = (pd.read_csv('../OriginalData/tb.csv')).dropna()
df = pd.melt(df, id_vars=['iso2', 'year'], value_vars=list(df.columns)[3:],
             var_name='column', value_name='cases')
df = df[df['cases'] != '0']
df['cases'] = df['cases'].astype(int)
df['sex'] = df['column'].str[7]
df['age'] = df['column'].str[8:].map({
    '04': '0-4',
    '514': '5-14',
    '014': '0-14',
    '1524': '15-24',
    '2534': '25-34',
    '3544': '35-44',
    '4554': '45-54',
    '5564': '55-64',
    '65': '65+',
    'u': 'unknown'
})
df = df[['iso2', 'year', 'sex', 'age', 'cases']]
#df.to_csv('../Originaldata/tb-tidy.csv', index=False)
x = df.loc[(df['cases'] != 0)]
x.sort_values(by=['year'])
x = df.loc[(df['iso2'] == 'CL')]
x.reset_index(drop=True)

   iso2  year sex      age  cases
0    CL  2006   m      0-4      5
1    CL  2007   m      0-4      0
2    CL  2008   m      0-4      1
3    CL  2006   m     5-14      7
4    CL  2007   m     5-14      3
5    CL  2008   m     5-14      6
6    CL  2006   m     0-14     12
7    CL  2007   m     0-14      3
8    CL  2008   m     0-14      7
9    CL  2006   m    15-24    107
10   CL  2007   m    15-24     86
11   CL  2008   m    15-24     86
12   CL  2006   m    25-34    140
13   CL  2007   m    25-34    137
14   CL  2008   m    25-34    131
15   CL  2006   m    35-44    176
16   CL  2007   m    35-44    140
17   CL  2008   m    35-44    148
18   CL  2006   m    45-54    197
19   CL  2007   m    45-54    169
20   CL  2008   m    45-54    167
21   CL  2006   m    55-64    179
22   CL  2007   m    55-64    139
23   CL  2008   m    55-64    135
24   CL  2006   m      65+    199
25   CL  2007   m      65+    121
26   CL  2008   m      65+    118
27   CL  2006   m  unknown      0
28   CL  2007   m  unknown      0
29   CL  2008   m  unknown      0
30   CL  2006   f      0-4      0
31   CL  2007   f      0-4      0
32   CL  2008   f      0-4      2
33   CL  2006   f     5-14      7
34   CL  2007   f     5-14      8
35   CL  2008   f     5-14      1
36   CL  2006   f     0-14      7
37   CL  2007   f     0-14      8
38   CL  2008   f     0-14      3
39   CL  2006   f    15-24     70
40   CL  2007   f    15-24     59
41   CL  2008   f    15-24     52
42   CL  2006   f    25-34     91
43   CL  2007   f    25-34     75
44   CL  2008   f    25-34     86
45   CL  2006   f    35-44     74
46   CL  2007   f    35-44     63
47   CL  2008   f    35-44     49
48   CL  2006   f    45-54     95
49   CL  2007   f    45-54     49
50   CL  2008   f    45-54     37
51   CL  2006   f    55-64     64
52   CL  2007   f    55-64     39
53   CL  2008   f    55-64     30
54   CL  2006   f      65+    122
55   CL  2007   f      65+     78
56   CL  2008   f      65+     65
57   CL  2006   f  unknown      0
58   CL  2007   f  unknown      0
59   CL  2008   f  unknown      0